/* Index */
.enc-ind-options {
    background-color: #00161d;
    border-radius: 1.5rem;
    max-width: 400px;
    width: 100%;
}
.enc-ind-form-join {
    width: 100%;
    max-width: 300px;
}
.enc-ind-join-inp {
    border-radius: 5px;
    border: none;
    margin-right: 2px;
}
.enc-ind-join-btn {
    border-radius: 5px;
    border: none;
    background-color: #007274;
    color: #ffffff;
    cursor: pointer;
}
.enc-ind-dm-btn {
    background-color: #007274;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    width: 100%;
    max-width: 300px;
    cursor: pointer;
    padding: 0.5rem 0;
    margin-top: 5px;
}
.enc-ind-join-btn:hover,
.enc-ind-dm-btn:hover,
.enc-ind-join-btn:active,
.enc-ind-dm-btn:active {
    background-color: #005455;
}
/* Encounter */
.enc-view {
    margin-top: -50px;
}
.enc-map-wrapper {
    max-width: 600px;
    width: 100%;
}
.enc-map {
    position: relative;
    background-image: url('../images/map_grid.png');
    background-size: 100% 100%;
    aspect-ratio: 1/1;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    image-rendering: pixelated;
}
.enc-map-token {
    position: absolute;
    width: 10%;
    height: 10%;
    object-fit: cover;
}
.enc-info-wrapper {
    width: 100%;
    max-width: 400px;
    background-color: #00161d;
    color: #fff;
    padding: 20px;
    border-radius: 5px;
}
.enc-info-topbar {
    border-bottom: white 1px solid;
}
.enc-info-code {
    padding: 6px 0 0 6px;
}
.enc-info-top-btn {
    box-shadow: none;
    border: none;
    border-radius: 5px;
    width: 70px;
    height: 32px;
    padding: 6px 12px;
    margin-bottom: 2px;
    line-height: 1.2;
}
.enc-info-add-btn {
    background-color: #007274;
    color: white;
}
.enc-info-add-btn:hover,
.enc-info-add-btn:active {
    background-color: #005455;
    color: #fff;
}
.enc-info-del-btn {
    background-color: #780606;
    color: white;
}
.enc-info-del-btn:hover,
.enc-info-del-btn:active {
    background-color: #600707;
    color: white;
}
.enc-on-round-token {
    border: 1px solid #ffd700;
    border-radius: 5px;
    margin-bottom: 5px;
    margin-top: -10px;
}
.enc-on-round-empty {
    border: 1px dotted white;
    border-radius: 5px;
    height: 100px;
    width: 100px;
    margin: -10px auto 5px auto;
}
.enc-on-round-img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 3px;
    margin-bottom: 4px;
}
.enc-on-round-name {
    color: #ffd700;
    padding: 0 5px;
}
.enc-info-token {
    min-height: 350px;
    max-height: 350px;
    margin-bottom: 5px;
}
.enc-info-token-card {
    width: 100%;
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 5px 10px;
}
.enc-info-token-img {
    width: 50px;
    height: 50px;
    object-fit: cover;
}
.enc-info-token-del-btn {
    background-color: #780606;
    color: #fff;
    width: 24px;
    height: 24px;
    border-radius: 4px;
    border: none;
    font-weight: bold;
}
.enc-info-token-del-btn:hover,
.enc-info-token-del-btn:active {
    background-color: #600707;
    color: #fff;
}
.enc-info-end-round-btn {
    background-color: #007274;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    width: 35%;
}
.enc-info-end-round-btn:hover,
.enc-info-end-round-btn:active {
    background-color: #005455;
    color: #fff;
}
.enc-modal-img {
    width: 40px;
    height: 40px;
    object-fit: cover;
}
.enc-modal-init {
    width: 160px;
}