.enc-view {
    margin-top: -50px; /* as you wanted */
}
/* Grid Map */
.map-grid-wrapper {
    max-width: 600px;
    width: 100%;
}
.map-grid {
    position: relative; /* Relative position for Token Images inside GridMap */
    width: 100%;
    aspect-ratio: 1 / 1;
    background-image: url('../images/map_grid.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    image-rendering: pixelated;
}
.token-on-grid {
    position: absolute;
    width: 10%;
    height: 10%;
    object-fit: cover;
}

/* Info Panel */
.info-panel-wrapper {
    width: 100%;
    max-width: 400px;
    background-color: #00161d;
    color: #fff;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}
/* Top Bar */
.top-bar {
    border-bottom: white 1px solid;
}
.top-code {
    padding: 6px 0 0 6px;
}
.top-btn {
    padding: 6px 12px;
    margin-bottom: 2px;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    font-size: 0.9rem;
    cursor: pointer;
    width: 70px;
    height: 32px;
    line-height: 1.2;
    box-shadow: none;
}
.add-btn {
    background-color: #007274;
    color: #fff;
}
.add-btn:hover,
.add-btn:active {
    background-color: #005455;
    color: #fff;
}
.del-btn {
    background-color: red;
    color: #fff;
}
.del-btn:hover,
.del-btn:active {
    background-color: darkred;
    color: #fff;
}
.add-img {
    width: 40px;
    height: 40px;
    object-fit: cover;
}
.add-initiative {
    width: 160px;
}
/* Info Panel Tokens */
.on-round-card {
    border: 1px solid #ffd700;
    border-radius: 5px;
    margin-bottom: 5px;
    margin-top: -10px;
}
.on-round-img {
    width: 80px;
    height: 80px;
    object-fit: cover;  /* 'Scaling' img */
    border-radius: 3px;
    margin-bottom: 4px;
}
.on-round-name {
    color: #ffd700;
    font-weight: bold;
    font-size: 0.9rem;
    text-align: center;
    max-width: 80px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; /* '...' */
}

.tokens {
    flex-grow: 1;
    overflow-y: auto;
    margin-bottom: 5px;
    border-bottom: white 1px solid;
}
.token-card {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 5px 10px;
    border: 1px solid #fff;
    border-radius: 5px;
}
/* Image */
.token-img {
    width: 50px;
    height: 50px;
    object-fit: cover;
}
/* Name */
.token-name {
    color: #fff;
    font-size: 0.95rem;
    font-weight: 777;
    margin-left: 8px;
}
/* X button */
.token-del-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    background-color: red;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
    font-size: 0.8rem;
}
.token-del-btn:hover,
.token-del-btn:active {
    background-color: darkred;
}
/* End Round */
.end-round-btn {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    border: none;
    font-weight: 777;
    background-color: #007274;
    color: #fff;
    padding: 10px;
}
.end-round-btn:hover,
.end-round-btn:active {
    background-color: #005455;
    color: #fff;
}