/* Index */
.monst-ind-card {
    background-color: #00161d;
    border: none;
    border-radius: 10px;
    text-align: center;
    height: 100%;                       /* 100% predka */
    overflow: hidden;                   /* Odreze pretekajuci kontent */
    max-width: 380px;
    padding: 10px;
    margin: 0 auto;
}
.monst-ind-img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 5px;
}
.monst-ind-info {
    color: white;
    font-size: 1.2rem;
    font-weight: 700;
}
.monst-ind-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
}
.monst-ind-del-btn {
    background-color: #780606;
    color: white;
    border-radius: 0.5rem;
    text-decoration: none;
    font-weight: 600;
    border: none;
    cursor: pointer;
    margin-top: 3px;
}
.monst-ind-del-btn:hover,
.monst-ind-del-btn:active {
    background-color: #600707;
    color: white;
}