/* Root Layout */
.root-page {
    background-image: url('../images/brick_background.png');
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
    min-height: 100vh;

    margin: 0 !important;        /* Bacground zacina hore */
}

.navbar-root {
    background-color: #00161d;
    padding: 0.5rem 1rem;
}
.navbar-logo {
    width: auto;
    height: 50px;
}
.navbar-dropdown {
    background-color: #004050;
    border: none;
}
.navbar-dropdown a,
.navbar-dropdown span {
    color: white;
}
.navbar-dropdown a:hover,
.navbar-dropdown a:active {
    background-color: #002937;
    color: white;
}
.navbar-logout {
    color: red !important;
}
.navbar-logout:hover,
.navbar-logout:active {
    background-color: #002937;
    color: red !important;
}
.navbar-menu-small {
    background: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    box-shadow: none;
    outline: none;
    line-height: 0;
}
/* Home/Monsters */
.add-ent-btn {
    background-color: #007274;
    color: #ffffff;
    padding: 15px 30px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 700;
    font-size: 1.1rem;
    white-space: nowrap;
}
.add-ent-btn:hover,
.add-ent-btn:active {
    background-color: #005455;
}
.ent-form-card {
    background-color: #00161d;
    border-radius: 1.5rem;
    width: 100%;
    max-width: 600px;
    padding: 30px;
    margin: 0 auto;
}
.ent-form-heading {
    color: white;
    font-weight: 700;
    border-bottom: 2px solid white;
    padding-bottom: 10px;
    margin-bottom: 20px;
}
.ent-from-img-area {
    width: 100%;
    height: 165px;
    border: 2px dotted #002d3c;
    border-radius: 5px;
    background-color: #212529;
}
.ent-from-img-area #image-preview {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.add-form-save-btn {
    background-color: #007274;
    font-weight: 600;
    color: white;
    border: none;
    border-radius: 0.5rem;
    padding: 10px 30px;
    margin-top: 20px;
}
.add-form-save-btn:hover,
.add-form-save-btn:active {
    background-color: #005455;
    color: white;
}